//----------------------------------------------------------------------------------------------------------------------
// Theme Styling
//----------------------------------------------------------------------------------------------------------------------

// Bootstrap options
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

//----------------------------------------------------------------------------------------------------------------------
