//----------------------------------------------------------------------------------------------------------------------
// App Theme
//----------------------------------------------------------------------------------------------------------------------

@import "variables";
@import "~bootstrap/scss/bootstrap";

//----------------------------------------------------------------------------------------------------------------------

html{ background: #34153f; }

body {
	background: #34153f;
}

@font-face {
	font-family: Thruster;
	src: url(~assets/font/Thruster-Regular.ttf) format('truetype');
}

h2, h3, h5 {
	font-family: Thruster, sans-serif;
	color: black;
	font-weight: bold;
}

//----------------------------------------------------------------------------------------------------------------------
