<!--------------------------------------------------------------------------------------------------------------------->
<!-- footer.vue                                                                                                      -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<div class="site-footer pt-4" style="border-top: black 1px solid">
		<b-container>
			<div class="d-flex justify-content-between">
				<div id="social-links">
					<a href="https://itunes.apple.com/us/podcast/fate-and-the-fablemaidens/id1346888283?mt=2" target="_blank">
						<i class="fa fa-music fa-lg"></i>
					</a>
					<a href="https://play.google.com/music/m/I77ebhissix6ugaueepjfi2lcaq?t=Fate_and_the_Fablemaidens" target="_blank">
						<i class="fa fa-play fa-lg"></i>
					</a>
					<a href="https://www.youtube.com/channel/UCs30H1oEsv2nmv6A4YyLr9w/featured" target="_blank">
						<i class="fa fa-youtube fa-lg"></i>
					</a>
					<a href="https://www.facebook.com/FateFMCast" target="_blank">
						<i class="fa fa-facebook fa-lg"></i>
					</a>
					<a href="https://twitter.com/FateFMCast" target="_blank">
						<i class="fa fa-twitter fa-lg"></i>
					</a>
					<a href="https://instagram.com/FateFMCast" target="_blank">
						<i class="fa fa-instagram fa-lg"></i>
					</a>
					<a href="https://www.patreon.com/bePatron?u=8539147" target="_blank">
						<img src="/images/patreonWhite.png">
					</a>
				</div>

				<div>
					<p style="font-size: 12px">© 2018-2020 Tweedle Creative LLC. All Rights Reserved.</p>
				</div>

				<a id ="to-top" href="#" class="on">
					<span class="fa-stack">
						<i class="fa fa-arrow-up">
						</i>
					</span>
				</a>
			</div>
		</b-container>
	</div>

</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
	.site-footer {
		padding-bottom: 25px;
		background-color: white;
	}


	#to-top {
		color: gray;
	}

	a {
		i.fa {
			color: #D3D3D3;
		}
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
	//------------------------------------------------------------------------------------------------------------------


	//------------------------------------------------------------------------------------------------------------------

	export default {
		data()
		{
			return {

			};
		}

	}
</script>

<!--------------------------------------------------------------------------------------------------------------------->

