<!--------------------------------------------------------------------------------------------------------------------->
<!-- header.vue                                                                                                      -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<div class="site-header pt-4">
		<b-navbar toggleable="md" type="light">
			<b-container>
				<b-nav-toggle target="nav_collapse"></b-nav-toggle>

				<b-collapse is-nav id="nav_collapse">
					<b-navbar-brand  to="/" exact>
						<span>Home</span>
					</b-navbar-brand>
					<b-nav is-nav-bar class="align-items-start">
						<b-nav-item to="/episodes">Episodes</b-nav-item>
						<b-nav-item to="/characters">Characters</b-nav-item>
						<b-nav-item to="/players">Players</b-nav-item>
						<b-nav-item to="/donate">Donate</b-nav-item>
						<b-nav-item to="/contact">Contact</b-nav-item>
					</b-nav>
				</b-collapse>

				<div id="social-links">
					<a href="https://itunes.apple.com/us/podcast/fate-and-the-fablemaidens/id1346888283?mt=2" target="_blank">
						<i class="fa fa-music fa-lg"></i>
					</a>
					<a href="https://play.google.com/music/m/I77ebhissix6ugaueepjfi2lcaq?t=Fate_and_the_Fablemaidens" target="_blank">
						<i class="fa fa-play fa-lg"></i>
					</a>
					<a href="https://www.youtube.com/channel/UCs30H1oEsv2nmv6A4YyLr9w/featured" target="_blank">
						<i class="fa fa-youtube fa-lg"></i>
					</a>
					<a href="https://www.facebook.com/FateFMCast" target="_blank">
						<i class="fa fa-facebook fa-lg"></i>
					</a>
					<a href="https://twitter.com/FateFMCast" target="_blank">
						<i class="fa fa-twitter fa-lg"></i>
					</a>
					<a href="https://instagram.com/FateFMCast" target="_blank">
						<i class="fa fa-instagram fa-lg"></i>
					</a>
					<a href="https://www.patreon.com/bePatron?u=8539147" target="_blank">
						<img src="/images/become_a_patron_button.png">
					</a>
				</div>
			</b-container>
		</b-navbar>
	</div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .site-header {
		border-bottom: black 1px solid;
		background-color: white;
		font-family: Thruster, sans-serif;
		font-weight: bold;
	}

	.menu {
		float: left;
		margin-left: 0;
	}

	a {
		i.fa {
			color: #D3D3D3;
		}
	}

</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Imports go here

    //------------------------------------------------------------------------------------------------------------------

    export default {
        data()
        {
            return {
                // Data goes here
            };
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
