<!--------------------------------------------------------------------------------------------------------------------->
<!-- App                                                                                                             -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<div id="app">
		<site-header></site-header>
		<nuxt></nuxt>
		<site-footer></site-footer>
	</div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
	#app {
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
	//------------------------------------------------------------------------------------------------------------------

	// Components
	import SiteHeader from '../components/header.vue';
	import SiteFooter from '../components/footer.vue';

	//------------------------------------------------------------------------------------------------------------------

	export default {
		components: {
			SiteHeader,
			SiteFooter
		}
	}
</script>

<!--------------------------------------------------------------------------------------------------------------------->

