<!--------------------------------------------------------------------------------------------------------------------->
<!-- Characters Page                                                                                                 -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<b-card class="character-page pt-4">
		<h2 class="display-4">About</h2>
		<p class="mb-3">
			Fate and the Fablemaidens is a Dungeons & Dragons 5th edition actual-play podcast by four friends who love
			goofs and games.
		</p>
		<p class="mb-3">
			​Under the unpredictable guidance of Fate (Renee Rhodes), three adventurers – Merryweather (Rebecca Eckert),
			the gnome artificer; Wynni (Laura Hutton), the halfling bard; and Twyddle (Samantha Turley), the changeling
			barbarian – are thrown together on a fateful trip. When they set sail that day, all they planned for was a
			relaxing, three-day boat tour – a pleasure cruise. Instead, the world starts falling apart around
			them – literally.
		</p>

		<div class="container pb-5">
			<div class="form-row">
				<div class="col img-col">
					<h3 class="d-md-none">Fate</h3>
					<h5 class="mt-2 d-md-none">The Dungeon Master</h5>
					<img class="img-responsive" src="/images/fate.png" alt="Fate">
				</div>
				<div class="col mt-4 mt-md-0">
					<h3 class="d-none d-md-block">Fate</h3>
					<h5 class="mt-2 d-none d-md-block">The Dungeon Master</h5>
					<p>
						Fate directs the story and introduces the non-player characters, setting, and plot as the
						Fablemaidens strike out on their adventure.
					</p>
				</div>
			</div>

			<div class="form-row mt-5">
				<div class="col img-col">
					<h3 class="d-md-none">Twyddle Twaddle</h3>
					<h5 class="mt-2 d-md-none">Changeling Barbarian</h5>
					<img class="img-responsive" src="/images/twyddle.png" alt="Twyddle Twaddle">
				</div>
				<div class="col mt-4 mt-md-0">
					<h3 class="d-none d-md-block">Twyddle Twaddle</h3>
					<h5 class="mt-2 d-none d-md-block">Changeling Barbarian</h5>
					<p class="mb-3">
						The name “Twyddle Twaddle” comes from the high school nicknames of Renee, Rebecca, and
						Laura: the Three Tweedle Twins. Twyddle is a changeling barbarian with a tribe member
						background. Twyddle’s weapon of choice is her handy beartrap, and she is off adventuring in
						search for excitement and a potential mate to bring back to her tribe.
					</p>
				</div>
			</div>

			<div class="form-row mt-5">
				<div class="col img-col">
					<h3 class="d-md-none">Eliwyn (Wynni) Bree Took</h3>
					<h5 class="mt-2 d-md-none">Halfling Bard</h5>
					<img class="img-responsive" src="/images/wynni.png" alt="Wynni Took">
				</div>
				<div class="col mt-4 mt-md-0">
					<h3 class="d-none d-md-block">Eliwyn (Wynni) Bree Took</h3>
					<h5 class="mt-2 d-none d-md-block">Halfling Bard</h5>
					<p class="mb-3">
						Wynni is a young halfling bard loosely inspired by J. R. R. Tolkien’s Peregrin Took. Her
						preferred weapon is inspiration or a rapier, if inspiration won’t cut it. She comes from a
						long line of adventurers and is looking forward to experiencing the world for herself.
					</p>
				</div>
			</div>

			<div class="form-row mt-5">
				<div class="col img-col">
					<h3 class="d-md-none" style="max-width: 500px">Knackle Merryweather Lace-a-rue Glimmersquint Fizzlebang Jimmyjam Jax</h3>
					<h5 class="mt-2 d-md-none">Gnome Artificer Gunsmith</h5>
					<img class="img-responsive" src="/images/merryweather.png" alt="Merryweather">
				</div>
				<div class="col mt-4 mt-md-0">
					<h3 class="d-none d-md-block" style="max-width: 500px">Knackle Merryweather Lace-a-rue Glimmersquint Fizzlebang Jimmyjam Jax</h3>
					<h5 class="mt-2 d-none d-md-block">Gnome Artificer Gunsmith</h5>
					<p class="mb-3">
						Merryweather is a gnome artificer gunsmith with a sailor's background. She is exuberant,
						curious, and loyal. Basically just imagine a golden retriever, but as a tiny person...with a
						giant gun. There is nothing that Merryweather loves more than tinkering and adventuring. She
						simply must learn it all! And with her long gnomish life-span, she plans to do just that.
					</p>
				</div>
			</div>
		</div>
	</b-card>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
	.character-page {
		background-color: white;
	}

	.container{
		padding-top: 50px;
	}

	.widget-text {
		padding: 50px;
	}

	.media-body {
		padding-left: 25px;
	}

	.img-responsive {
		border-color: black;
		border-width: 2px;
		border-style: solid;
	}

	.p {
		text-align: left;
	}

	.img-col {
		max-width: 330px;
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->
<script>
	//------------------------------------------------------------------------------------------------------------------


	//------------------------------------------------------------------------------------------------------------------

	export default {
	}
</script>
<!--------------------------------------------------------------------------------------------------------------------->
