<!--------------------------------------------------------------------------------------------------------------------->
<!-- Contact Page																									 -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<b-card class="contact-page pt-4">
		<h2 class="display-4">Contact</h2>
		<p class="mb-3">
			For questions email us at <a href="mailto:contact@FateFMCast.com" target="_top">contact@FateFMCast.com</a>
		</p>
	</b-card>
</template>

<!--------------------------------------------------------------------------------------------------------------------->
<style lang="scss" scoped>
	.contact-page {
		background-color: white;
		padding-bottom: 25px;
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->
<script>
	//------------------------------------------------------------------------------------------------------------------


	//------------------------------------------------------------------------------------------------------------------

	export default {
	}
</script>

<!--------------------------------------------------------------------------------------------------------------------->
