<!--------------------------------------------------------------------------------------------------------------------->
<!-- Donate Page                                                                                                     -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<b-card>
		<b-nav pills slot="header" id="header" v-b-scrollspy:nav-scroller>
			<b-nav-item href="#fableFriends">FableFriends</b-nav-item>
			<b-nav-item href="#fableFellows">FableFellows</b-nav-item>
			<b-nav-item href="#fableFolks">FableFolks</b-nav-item>
			<b-nav-item href="#fableFans">FableFans</b-nav-item>
			<b-nav-item href="#fableFam">Basically FableFam</b-nav-item>
		</b-nav>
		<b-card-body class="nav-scroller patron-list" ref="content">
			<h4 id="fableFriends">FableFriends</h4>
			<p>
                <ul>Alex Boake</ul>
                <ul>Cassidy Mayfield</ul>
                <ul>freelikegnu</ul>
                <ul>Ryan Boelter (DM Lord Neptune)</ul>
                <ul>Sean laughlin</ul>
				<ul>Matt Hoadley</ul>
				<ul>Kenny Ketner</ul>
				<ul>Max</ul>
				<ul>Lauren Olson</ul>
				<ul>Abhijit Madhu Kumar</ul>
				<ul>Sage Stafford</ul>
				<ul>Tyler</ul>
				<ul>Christopher Tate</ul>
				<ul>Rich Howard</ul>
				<ul>Gillian Dawson</ul>
				<ul>Tierney</ul>
				<ul>Robin McCulloch</ul>
				<ul>Jessica Tuckwood</ul>
				<ul>Alice Pow</ul>
				<ul>Jurassica (AcquaToffana)</ul>
				<ul>Will Martin</ul>
				<ul>Alexandre Drouin</ul>
				<ul>Daniel Greer</ul>
				<ul>Nathan Bailey</ul>
				<ul>If You Give A Mouse A Dagger</ul>
				<ul>Ilana Zeitzer</ul>
				<ul>The Dice Girls</ul>
				<ul>Atomic Straw</ul>
				<ul>Robert J Van de Motter</ul>
				<ul>Daniel Tan</ul>
			</p>
			<h4 id="fableFellows">FableFellows</h4>
			<p>
                <ul>Alex Freed</ul>
                <ul>James Anderson</ul>
				<ul>Thomas</ul>
				<ul>Jon McNally</ul>
				<ul>PadmesLover</ul>
			</p>
			<h4 id="fableFolks">FableFolks</h4>
			<p>
				<ul>Lauren Neuburger</ul>
				<ul>Zachary Bales</ul>
				<ul>Blake Dore</ul>
			</p>
			<h4 id="fableFans">FableFans</h4>
			<p>
				<ul>Christopher Case</ul>
			</p>
			<h4 id="fableFam">Basically FableFam</h4>
			<p>
				<ul>Michael Bowman</ul>
				<ul>Muffin</ul>
			</p>
		</b-card-body>
	</b-card>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
	.patron-list {
		background-color: white;
		padding-bottom: 25px;
		max-height: 450px;
		position: relative;
		overflow-y: scroll;
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
	//------------------------------------------------------------------------------------------------------------------


	//------------------------------------------------------------------------------------------------------------------

	export default {
		data()
		{
		}
	}

</script>
