<!--------------------------------------------------------------------------------------------------------------------->
<!-- Episodes Page																									 -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<b-card class="episodes-page">
		<h2 class="display-4">Episodes</h2>
		<p class="mb-3">
			Fate and the Fablemaidens release new episodes biweekly. (No, not twice a week – as much as we’d love to
			hang out with you guys that often.)
		</p>
		<p class="mb-3">
			So, catch new episodes every other Monday here, as well as on iTunes, Google Play, and YouTube.
		</p>

		<aplayer :music="playlist[0]" :list="playlist"></aplayer>
	</b-card>
</template>

<!--------------------------------------------------------------------------------------------------------------------->
<style lang="scss" scoped>
	.episodes-page {
		background-color: white;
		padding-bottom: 25px;
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
	import playlist from '../static/playlist.json';

	export default {
		data()
		{
			return {
				playlist
			};
		}
	}
</script>

<!--------------------------------------------------------------------------------------------------------------------->
