<!--------------------------------------------------------------------------------------------------------------------->
<!-- Main Page                                                                                                       -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<div class="main-page">
		<b-card overlay
				img-src="/images/fablemaidensbanner.png"
				img-alt="pink and purple sky with a brown mountain to the right edge. In the center foreground are the
							words 'Fate and the Fablemaidens' with a woman's silhouette sitting on the F in 'Fablemates';
							to the slight right of the title is three women's silhouettes inside an egg shaped outlet."
				style="text-align:center; font-family:Thruster; font-weight:bold; color: #33163D"
				footer="Fate and the Fablemaidens is an all-women, family-friendly actual-play D&D 5th edition podcast created by four
				friends who love goofs and games with new episodes every other Monday."
				border-variant="light"
				footer-variant="transparent">
		</b-card>

		<b-card class="text-center"
				style="font-size: large; padding-top: 20px"
				border-variant="light">
			<a href="/episodes">
				<b-img left src="/images/arcCovers/PJ6.JPG" style="padding-right: 25px" height="450px"/>
			</a>
			<h3 style="text-align: left">Episodes Available Now</h3>
			<p style="text-align: left; padding-top: 10px; font-size: larger">
				Q+A Special: Pickle Livin Is Easy
			</p>
			<p class="card-text" style="text-align: left;">
				This is the part of the adventure where we blow out the candles on our pickle cake, dissect some questions,
				and get distracted by food talk. Fate and the Fablemaidens turns two!
				<br><br>Our next episode will be released February 24, 2020.
				<br><br>Arc cover by Laura Hutton
			</p>
		</b-card>

		<b-container style="width: 75%;" class="justify-content-md-center">
			<b-carousel controls
						indicators
						:interval="4000"
						img-width="800"
						img-height="450">
				<b-carousel-slide img-src="/images/thankYous/General.JPG"></b-carousel-slide>
				<b-carousel-slide img-src="/images/thankYous/JPMusic.JPG"></b-carousel-slide>
				<b-carousel-slide img-src="/images/thankYous/JohannaArt.JPG"></b-carousel-slide>
				<b-carousel-slide img-src="/images/thankYous/CaseWebsite.JPG"></b-carousel-slide>
				<b-carousel-slide img-src="/images/thankYous/ClarkEmail.JPG"></b-carousel-slide>
				<b-carousel-slide img-src="/images/thankYous/HeaterPhotos.JPG"></b-carousel-slide>
				<b-carousel-slide img-src="/images/thankYous/RosaGraphic.JPG"></b-carousel-slide>
			</b-carousel>
		</b-container>

		<div class="col mt-3">
			<div class="widget widget_text col-xs-12 text-center">
				<h3 class="text-center">Join Our Community</h3>
				<b-card-group deck>
					<b-card>
						<iframe
							src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FFateFMCast%2F&tabs=timeline&width=360&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
							width="360" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
							allowTransparency="true">
						</iframe>
					</b-card>
					<b-card>
						<a class="twitter-timeline" data-width="360" data-height="500" href="https://twitter.com/FateFMCast?ref_src=twsrc%5Etfw">
							Tweets by FateFMCast
						</a>
					</b-card>
					<b-card>
						<iframe src="https://discordapp.com/widget?id=414257252233379841&theme=dark" width="360" height="500" allowtransparency="true" frameborder="0"></iframe>
					</b-card>
				</b-card-group>
			</div>
		</div>
	</div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
	.main-page {
		background-color: white;
		padding-bottom: 25px;
	}

	#tagline {
		color: gray;
		padding-top: 25px;
	}

	.container {
		padding-top: 20px;
		padding-bottom: 20px;
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------


    //------------------------------------------------------------------------------------------------------------------

//	window.twttr = (function(d, s, id) {
//		var js, fjs = d.getElementsByTagName(s)[0],
//			t = window.twttr || {};
//		if (d.getElementById(id)) return t;
//		js = d.createElement(s);
//		js.id = id;
//		js.src = "https://platform.twitter.com/widgets.js";
//		fjs.parentNode.insertBefore(js, fjs);
//
//		t._e = [];
//		t.ready = function(f) {
//			t._e.push(f);
//		};
//		return t;
//	}(document, "script", "twitter-wjs"));

	export default {
	}
</script>
<!--------------------------------------------------------------------------------------------------------------------->
