<!--------------------------------------------------------------------------------------------------------------------->
<!-- Players Page                                                                                                    -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<b-card class="player-page pt-4">
		<h2 class="display-4">About</h2>
		<p class="mb-3">
		</p>
		<p class="mb-3">
		</p>

		<div class="container pb-5">
			<div class="form-row">
				<div class="col img-col">
					<h3 class="d-md-none">Renee Rhodes</h3>
					<h5 class="mt-2 d-md-none">Character: Fate</h5>
					<img class="img-responsive" src="/images/ReneeHeadshot2.JPG" alt="Renee Headshot" height="250px">
				</div>
				<div class="col mt-4 mt-md-0">
					<h3 class="d-none d-md-block">Renee Rhodes</h3>
					<h5 class="mt-2 d-none d-md-block">Character: Fate</h5>
					<p class="mb-3">
						The joke’s on Renee. She used to hate D&D, but now a full 180 has brought her to DMing three
						awesome women in a D&D podcast. Though her first D&D experience was not a good one, her
						friends never gave up on her and – through what she is sure was master manipulation – coaxed
						her back to a table to try again. She’s been enjoying the game thoroughly since the summer
						of 2017. She never expected to DM either, but she’s excited to run her first campaign with
						the Fablemaidens cast!
					</p>
				</div>
			</div>

			<div class="form-row mt-5">
			<div class="col img-col">
				<h3 class="d-md-none">Sam Turley</h3>
				<h5 class="mt-2 d-md-none">Character: Twyddle Twaddle</h5>
				<img class="img-responsive" src="/images/SamHeadshot2.JPG" alt="Sam Headshot" height="250px">
			</div>
			<div class="col mt-4 mt-md-0">
				<h3 class="d-none d-md-block">Sam Turley</h3>
				<h5 class="mt-2 d-none d-md-block">Character: Twyddle Twaddle</h5>
				<p class="mb-3">
					Samantha has always been a fan of audiobooks, but she started listening to podcasts in 2015
					(the true crime genre is her favorite). D&D was something she had wanted to do since she
					was a little girl, and Samantha began playing in her first campaign in June 2017. Twyddle is
					her first barbarian character.
				</p>
			</div>
			</div>

			<div class="form-row mt-5">
			<div class="col img-col">
				<h3 class="d-md-none">Laura Hutton</h3>
				<h5 class="mt-2 d-md-none">Character: Eliwyn (Wynni) Bree Took</h5>
				<img class="img-responsive" src="/images/LauraHeadshot2.JPG" alt="Laura Headshot" height="250px">
			</div>
			<div class="col mt-4 mt-md-0">
				<h3 class="d-none d-md-block">Laura Hutton</h3>
				<h5 class="mt-2 d-none d-md-block">Character: Eliwyn (Wynni) Bree Took</h5>
				<p class="mb-3">
					Laura has been around D&D most of her life and started playing in college. She has enjoyed
					several campaigns since then and loves using them as a medium to tell stories with friends.
					Wynni is her first bard character.
				</p>
			</div>
		</div>
		</div>
	</b-card>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
	.player-page {
		background-color: white;
	}

	.container{
		padding-top: 50px;
	}

	.widget-text {
		padding: 50px;
	}

	.media-body {
		padding-left: 25px;
	}

	.img-responsive {
		border-color: black;
		border-width: 2px;
		border-style: solid;
	}

	.p {
		text-align: left;
	}

	.img-col {
		max-width: 330px;
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->
<script>
	//------------------------------------------------------------------------------------------------------------------


	//------------------------------------------------------------------------------------------------------------------

	export default {
	}
</script>
<!--------------------------------------------------------------------------------------------------------------------->
